<md-dialog aria-label="Mango (Fruit)">
	<form name="addForm">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{title}}</h2>
				<span flex></span>
				
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon aria-label="Close dialog">cancel</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		
		<md-dialog-content><!--style="max-width:800px;max-height:810px; "-->
			<md-input-container class="md-icon-float">
				<label>Concepto</label>
				<md-icon><i class="material-icons md-dark">insert_comment</i></md-icon>
				<input ng-model="move.concept" name="concept" required md-maxlength="20" maxlength="20">
				
				<div ng-messages="addForm.concept.$error">
					<div ng-message="required">Introduce un concepto por favor.</div>
					<div ng-message="md-maxlength">El concepto no puede ser mayor de 20 carácteres.</div>
				</div>
			</md-input-container>
			
			<md-input-container class="md-icon-float">
				<label>Fecha</label>
				<md-icon><i class="material-icons md-dark">event_note</i></md-icon>
				<input type="text" ng-model="localDate" name="date" required ng-click="showPicker($event)" readonly>
				
				<div ng-messages="addForm.date.$error">
					<div ng-message="required">Introduce una fecha por favor.</div>
				</div>
			</md-input-container>				
			
			<md-input-container class="md-icon-float">
				<label>Cantidad</label>
				<md-icon><i class="material-icons md-dark">attach_money</i></md-icon>
				<input type="number" ng-model="move.amount" name="amount" required min="1">
				
				<div ng-messages="addForm.amount.$error">
					<div ng-message="required">Introduce una cantidad por favor.</div>
					<div ng-message="min">El importe no puede ser menor de 1€.</div>
				</div>
			</md-input-container>
		</md-dialog-content>
		
		<div class="md-actions" layout="row">			
			<md-button ng-click="cancel()" flex="50">
				Cancelar
			</md-button>
			<md-button ng-click="create()" flex="50" class="md-success" ng-disabled="addForm.$invalid"><!-- class success -->
				Guardar
			</md-button>
		</div>
	</form>
</md-dialog>