<!-- Default Toolbar -->
<md-data-table-toolbar class="themed md-medium-tall" ng-show="!selected.length && !filter.show">
	<h2 class="md-title">Movimientos</h2>

	<div flex=""></div>

	<md-button class="md-icon-button" aria-label="Export" ng-click="showExportDialog()">
		<md-icon><i class="material-icons md-dark">assignment</i></md-icon>
	</md-button>

	<md-button class="md-icon-button" aria-label="Search" ng-click="filter.show = true">
		<md-icon><i class="material-icons md-dark">search</i></md-icon>
	</md-button>

	<md-button class="md-fab md-mini fab-add" aria-label="Add" ng-click="showItemDialog()">
		<md-icon><i class="material-icons md-dark">add</i></md-icon>
	</md-button>
</md-data-table-toolbar>

<!-- Search Toolbar -->
<md-data-table-toolbar class="md-medium-tall" ng-show="filter.show && !selected.length">
	<md-icon><i class="material-icons md-dark">search</i></md-icon>
	<form flex name="filter.form" layout="row" >
		<md-input-container flex="15">
			<label>Fecha</label>
			<!--<input type="text" ng-model="query.filter.date" ng-model-options="filter.options" tabindex="0" aria-invalid="false">-->
			<input type="text" ng-model="filterDate" name="date" required ng-click="showPicker($event)" readonly>
		</md-input-container>
		<md-input-container flex="30">
			<label>Concepto</label>
			<input type="text" ng-model="query.filter.concept" ng-model-options="filter.options" tabindex="0" aria-invalid="false">
		</md-input-container>
		<md-input-container flex="5">
			<label>Precio</label>
			<input type="number" ng-model="query.filter.amount" ng-model-options="filter.options" tabindex="0" aria-invalid="false">
		</md-input-container>
		<md-input-container flex>
			<label class="no-order">Tipo</label>

			<md-chips ng-model="query.filter.types" md-autocomplete-snap md-require-match="true">
				<md-autocomplete
					md-no-cache="true"
					md-search-text="searchForType"
					md-items="item in querySearch(searchForType)"
					md-item-text="item">

					<!--<span md-highlight-text="searchForType">{{item}}</span>-->
					<md-item-template>
						<span md-highlight-text="searchForType">{{item}}</span>
					</md-item-template>
					<md-not-found>
						No hay resultados para "{{searchForType}}".
					</md-not-found>
				</md-autocomplete>

				<md-chip-template>
					<span><strong>{{$chip}}</strong></span>
				</md-chip-template>
			</md-chips>
		</md-input-container>
	</form>

	<md-button class="md-icon-button" aria-label="Close" ng-click="removeFilter()" tabindex="1">
		<md-icon><i class="material-icons md-dark">close</i></md-icon><!-- highlight_off -->
	</md-button>
</md-data-table-toolbar>

<!-- Selected Items Toolbar -->
<md-data-table-toolbar class="alternate md-medium-tall" ng-show="selected.length">
	<div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>

	<div flex=""></div>

	<md-button class="md-icon-button" aria-label="Delete" ng-click="delete(selected)"><!-- We're passing selected[] cause there's some sync bug with toggleAll() -->
		<md-icon><i class="material-icons md-dark">delete</i></md-icon>
	</md-button>
</md-data-table-toolbar>

<md-data-table-container>
	<table md-data-table md-row-select="selected" md-progress="deferred">
    	<thead md-order="query.order" md-trigger="onChange">
      		<tr>
				<th ng-repeat="column in columns" ng-attr-order-by="{{column.orderBy}}" ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}"
					name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}"></th>
      		</tr>
    	</thead>
	    <tbody>
			<tr md-auto-select ng-repeat="dessert in desserts.data | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit" ng-init="init(this)">
		        <td title="Fecha">{{dessert.date | date:'dd/MM/yyyy'}}</td>
		        <td title="Concepto">{{dessert.concept}}</td>
		        <td title="Cantidad">{{dessert.amount}}</td>
		        <td title="Tipo">{{dessert.type}}</td>
		        <td title="Total">{{calculateTotal($index)}}</td>
		        <td title="Acciones">
					<md-button class="md-icon-button" aria-label="Edit" ng-click="showItemDialog(dessert)">
						<md-icon><i class="material-icons md-dark">create</i></md-icon>
					</md-button>
				</td>
			</tr>
	    </tbody>
  </table>
</md-data-table-container>

<md-data-table-pagination md-limit="query.limit" md-page="query.page"
	md-total="{{desserts.count}}" md-trigger="onChange"></md-data-table-pagination>

<div ng-repeat="exp in totalExport">
	Total de gastos para {{exp.type}}: {{exp.total}}€
</div>