html, body, md-content {
    background-color: #f5f5f5;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
}

md-card {
    margin-right: 15px;
}

md-toolbar {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    min-height: 50px;
}

md-data-table-toolbar.themed {
    color: rgb(255,255,255);
    background-color: rgb(33,150,243);
}

md-data-table-toolbar.alternate {
    color: #1e88e5;
    background-color: #e3f2fd;
}

md-data-table-toolbar.md-medium-tall {
    height: 88px;
    min-height: 88px;
    max-height: 88px;
}
md-data-table-toolbar.md-tall {
    height: 128px;
    min-height: 128px;
    max-height: 128px;
}

.fab-add {
	position: absolute;
	top: 68px;
	right: 80px;
}

.type-select {
    margin-left: 35px;
    margin-top: 15px;
    width: 85%;
}

md-input-container label.no-order {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 0;
}